$textcolor: black;
@mixin BooksShelf{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    text-align: left;
    font-size: 20px;
    padding: 10px 5px;
    border-bottom: 2px solid grey;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: 450px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .logo {
        width: 350px;
      }
      .navBar{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
      }
      .navBar li a {
        text-decoration: none;
        color: coral;
        font-size: 40px;
        &:hover{
          color: red;
        }
      }
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(233, 231, 231);
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    overflow: hidden;
        h1{
            margin: 0;
        }
        .main{
          margin: auto;
          box-sizing: border-box;
            width: 100%;
            height: 100%;
            background-color: white;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 3px 3px 5px black;
                h1 {
                    color: gray;
                }
                .booksBar {
                  font-weight: bold;
                @include BooksShelf()
                }
                .booksName{
                  color: rgb(88, 86, 86);
                  @include BooksShelf()
                }
        }
      }
@media screen and (min-width: 768px){
        header{
          height: 100px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          overflow: hidden;
          .logo {
            width: 100px;
          }
          .navBar{
            flex-direction: row;
            gap: 20px;
            align-items: center;
          }
          .navBar li a {
            font-size: 20px;
          }
          
        }
        
      }